.rbc-time-view {
  touch-action: pan-y;
}

@media (max-width: 768px) {
    .rbc-time-content {
      overflow-x: scroll;
    }
    
    .rbc-timeslot-group {
      min-width: 100px; /* Ensure the time is visible */
    }
  }

@media (max-width: 768px) {
.rbc-time-slot {
    min-height: 60px; /* Increase the size for better touch targets */
}
}

@media (max-width: 768px) {
.rbc-time-view .rbc-time-content {
    overflow-x: auto; /* Allow horizontal scrolling on time slots */
}

.rbc-time-view .rbc-timeslot-group {
    min-width: 75px; /* Reduce the minimum width on smaller screens */
}

.modal-content {
    width: 90%;
    margin: 0 auto;
}
}
